.home .search{
    margin-top: 3%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    color: rgb(180, 139, 139);
    background-color: rgb(77, 37, 37);
    height: 30px;
    margin-bottom: 2%;
    border-radius: 5px;
}


.home{
    padding: 30px 40px;
    background-color: rgb(163, 110, 110);
    height: 100vh;
}
.home .logo{
    height: 15%;
    font-size:xx-large
}


.home .addnew{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    background-color: rgb(235, 193, 193);
    padding: 5px 30px;
    border-radius: 5px;
}

.home .all{
    display: grid;
    grid-template-columns: auto auto auto;
}
.home .all img{
    width: 30vw;
    height: 70vh;
}
.home .each{
    width: max-content;
    width: 30vw;
    height: 70vh;
    position: relative;
    margin-bottom: 10px;
}
.home .info{
    position: absolute;
    margin-top: 50%;
    margin-left: -70%;
    color: rgb(202, 140, 140);
    font-size: large;
    background-color: rgb(130, 214, 203);
    padding: 5px 10px;
}
.fa-pizza-slice{
    align-self: center;
    margin: 5px;
}